# Environment files
.env
.env.example

# Node modules
node_modules/
backend/node_modules/

# Build folders
dist/
build/

# Satellite outputs (VERY IMPORTANT)
labelled_change_map.png
ndwi_*.png
*_map.png
sentinel_downloads/